@import "reset";
@import "간이과세신고서";

article.a4 {
    display: block;
    margin: 0 auto;
    width: 21cm;
    height: 29.7cm;
    padding: 20mm;
    
    &[layout="landscape"] {
        width: 29.7cm;
        height: 21cm;
    }
}

@media print {
    body, article.a4 {
        margin: 0;
        box-shadow: none;
    }
}